{# src/_includes/partials/footer.njk #}
<footer class="p-6 bg-gray-100 text-center font-mono text-sm">
  <div class="max-w-4xl mx-auto">
   <ul class="text-sm">
  <li>© {{ now | date("yyyy") }} Christian Barrios</li>
  <li>
    <a href="https://github.com/ChristProf" class="text-term-green hover:underline">GitHub</a>
  </li>
</ul>

  </div>
</footer>
