{# src/_includes/partials/header.njk #}
<header class="p-6 bg-gray-100 sticky top-0 z-20">
  <div class="max-w-4xl mx-auto flex items-center justify-between">
    <h1 class="text-3xl font-bold"><a href="#hero">Mi Portfolio</a></h1>
    <nav>
      <ul class="flex space-x-4 font-mono">
        <li><a href="#hero"    class="hover:text-term-green">Inicio</a></li>
        <li><a href="#about"   class="hover:text-term-green">Sobre mí</a></li>
        <li><a href="#skills"  class="hover:text-term-green">Skills</a></li>
        <li><a href="#contact" class="hover:text-term-green">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
